@import url(_cursor.css);
@import url(_header.css);

body {
    background-color: black;
    background-image: url(../Media/original.jpg);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
 