/* 
.cursor{
    z-index: 999;
    position: fixed;
    background : #63f2ff; 
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px #63f2ff,
                0 0 40px #63f2ff,
                0 0 80px #63f2ff;
    transform: translate( -50%, -50%);
    animation: colors 5s infinite;
    transition: 50ms;
}
@keyframes colors {
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}

.cursor:before{
    content: '';
    position: absolute;
    background: #63f2ff;
    width: 40px;
    height: 40px;
    opacity: 0.2;
    transform: translate(-28%, -33%);
    border-radius: 50%;
} */