.yearheading{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.yearheading #year{
    position: relative;
}

.yearheading #year_list{
    position: relative;
    
}



/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  align-items: flex-end;
}

/* Mini reset, no margins, paddings or bullets */
.yrmenu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.yrmenu {
  margin: 1vh auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.yrmenu > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(15deg);
}

.yrmenu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.yrmenu li:hover {
  background: #54d8d8;
}		

.yrmenu > li > a {
  transform: skewX(-15deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-15deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-15deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(15deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(15deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.yrmenu > li:hover .submenu,
.yrmenu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.yrmenu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.yrmenu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}
