@import url(_aurora-effect.css);

footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
    color: white;
}

.footer-col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1% 5% 1% 5%;
}
.social-media a:-webkit-any-link{
    color: #ffffffbd;
    text-decoration: none;
}

.social-media h4{
    margin: 0%;
    color: rgba(0, 255, 255, 0.875);
    margin: 4% 0 2% 0;
}

.social-media h2{
    margin: 1% auto 2% auto;
}

.social-media{
    display:flex;
    padding: 4%;
    align-items: flex-start;
    flex-direction: column;
}

.social-links{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 10vh;
}

.social-media h2:hover {
    color:#c8fff9;
}

.social-links .icon{
    height: 5vh;
    margin: 1vh 3vh 1vh 3vh ;
    transition: 0.4s;
}
.icon:hover{
    height: 7vh;
}

.footer-copyright-text{
    display: flex;
    justify-content: center;
    background-color:rgb(26, 27, 27) ;
}

.footer-copyright-link{
    margin: 6px;
    color: #ffffff;
}

@media (max-width: 421.6px) {
    .social-links .icon{
        margin: 1vh 2vh 1vh 2vh ;
    }
    .social-links{
        flex-wrap: nowrap;
        max-width: 5vh;
    }
}

#map {
    width: 35vw;
    min-width: 250px;
    height: 35vh;
    border-radius: 1.4em;
    overflow: hidden;
}
