/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');



/* Header Styles */
header {
  background: #111;
}

.headline {
  position: relative;
  color: #00ffea;
  text-align: center;
  background: url('../Media/gif_1_1.gif') no-repeat center center;
  background-size: cover;
}

.headline:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 9;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

/* Heading Styles */
.inner h1 {
  margin: 0;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vh;
  line-height: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

/* Navigation Styles */
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scrolled {
  /* background: rgba(17, 17, 17, 0.9); */
  background: linear-gradient(to left, #000000e7, #151515c9);

}

/* Navigation Links Styles */
nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
  display: block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

nav a {
  font-size: 2.5vh;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  padding: .5em .8em;
  display: block;
}

/* Navigation Link Pseudo-elements Styles */
nav a::before,
nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

nav a::before {
  content:' ';
  right: 0;
  top: 0;
  border-top: 3px solid #15b29d;
  border-right: 3px solid #6affee;
  transform: translate(-100%, 50%);
}

nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #15b29d;
  border-left: 3px solid #6affee;
  transform: translate(100%, -50%);
}

nav a:hover:before,
nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

nav a:hover {
  color: #15b29d;
}

/* Logo Styles */
.logo {
  height: 70px;
  float: center;
  border-radius: 15% 0% 15% 0%;
  /* border-bottom-right-radius: 15%;
  border-top-left-radius: 15%; */
}

.logo img {
  height: 90%;
  margin: 10%;
}

/* Section Styles */
section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  color: #ffffff;
  max-width: 90%;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
  background-color: #252525c0;
  border-radius: 1em;
}

/* Keyframe Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

/* Mobile Menu Styles */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu {
  display: flex;
}

.menu > li {
  overflow: hidden;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    margin-right : 5%;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
