@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


header {
  background: #111;
}

.headline {
  position: relative;
  color: #00ffea;
  text-align: center;
  background: url('../Media/gif_1_1.gif') no-repeat center center;
  background-size: cover;
}

.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
  margin: 0;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vh;
  line-height: 1.2em;
  font-family:"Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
  display: block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

nav a {
  font-size: 2.5vh;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  padding: .5em .8em;
  display: block;
}

nav a::before,
nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #15b29d;
  border-right: 3px solid #6affee;
  transform: translate(-100%, 50%);
}

nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #15b29d;
  border-left: 3px solid #6affee;
  transform: translate(100%, -50%)
}

nav a:hover:before,
nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

nav a:hover {
  color: #15b29d;
}

.logo {
  height: 75px;
  float: left;
  

}
.logo img{
    height: 90%;
    margin: 10%;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  color: #ffffff;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
  background-color: #272727c0;
  border-radius: 1em;

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
