@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap');

.member {
  position: relative;
  display: flex;
}

.team .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team .pic {
  position: relative;
  height: 50vh;
  margin-top: 14vh;
  width: 50vh;
  border-radius: 50%;
  border: 2px dotted rgb(201, 121, 255);
}

.team .pic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-12vh);
  transition: all 0.5s ease 0s;
}

.member-info {
  position: absolute;
  color: aliceblue;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
}

.team .social {
  position: absolute;
  list-style: none;
  opacity: 0;
  z-index: 1;
  top: 15%;
  left: 16%;
}


.social li {
  display: inline-block;
}
.team .social .icon {
  opacity: 1;
  width: 80%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  line-height: 30px;
  margin-right: 20px;
  transition: all 0.5s ease 0s;
}

.team .icon:hover{
  width: 38px;
  height: 38px;
}

.pic:hover::before{
  filter: brightness(0.34);
}
.pic:hover h2{
  color: aqua;
}
.pic:hover{
  border: 2px dotted rgb(121, 210, 255);
}
.pic:hover  .social{
  opacity: 1;
}


/* Member profile pic */
.team .row:nth-child(1) .member:nth-child(1) .pic::before {
  background-image: url(https://source.unsplash.com/Qm_n6aoYzDs);
}